<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        .reg {
          margin: auto;
          width: 60%;
          text-align:center;
          border: 3px solid #8A2BE2;
          padding: 10px;
          }
    </style>
</head>
<body>
<div class="reg">
<h1>Sign up</h1><br>
{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}

<form action="register" method="post">
    {% csrf_token %}
    <p>Username:</p>
    <input type="text" name="username" required>
    <p>Email</p>
    <input type="email" name="email" required>
    <p>Password</p>
    <input type="password" name="password" required><br>
    <input type="submit" name="submit" >

</form>
</div>
</body>
</html>